<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - Shopme Admin')"></head>

<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h1>Manage Users</h1>
        <a th:href="@{/users/new}" class="fa-solid fa-user-plus fa-2x icon-gray mr-2"></a>
        <a th:href="@{/users/export/csv}" class="fa-solid fa-file-csv fa-2x icon-gray mr-2"></a>
        <a th:href="@{/users/export/excel}" class="fa-solid fa-file-excel fa-2x icon-gray mr-2"></a>
        <a th:href="@{/users/export/pdf}" class="fa-solid fa-file-pdf fa-2x icon-gray"></a>

    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/users/page/1}" class="form-check-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>

            Filter:&nbsp;
            <input type="search" name="keyWord" th:value="${keyWord}" class="form-control m-2" required/>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary m-2">
                <i class="fa-solid fa-search"></i>
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-secondary m-2" onclick="clearFilter()">
                <i class="fa-solid fa-eraser"></i>
            </button>

        </form>
    </div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark">
            <tr>

                <th class="hideable-column">
                    <th th:replace="fragments :: column_link('id', 'User Id', 'tag')"></th>
                </th>


                <th>Photos</th>


                <th class="hideable-column">
                    <th th:replace="fragments :: column_link('email', 'E-mail', 'tag')"></th>
                </th>

                <th th:replace="fragments :: column_link('firstName', 'First Name', 'none')"></th>

                <th th:replace="fragments :: column_link('lastName', 'Last Name', 'none')"></th>

                <th>Roles</th>

                <th th:replace="fragments :: column_link('enabled', 'Enabled', 'none')"></th>


                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td class="hideable-column">[[${user.id}]]</td>
                <td>
                    <div th:replace="fragments :: user_photos"></div>
                </td>
                <td class="hideable-column">[[${user.email}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.roles}]]</td>

                <td>
                    <div th:replace="fragments :: user_status"></div>
                </td>

                <td>
                    <div th:replace="fragments :: user_actions"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="user : ${listUsers}" class="row m-1">
            <div class="col-4">
                <div th:replace="fragments :: user_photos" />
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-2">
                    <div th:replace="fragments :: user_status" />
                    &nbsp;
                    <div th:replace="fragments :: user_actions" />
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div class="text-center m-1" th:if="${totalElements} > 0">
        <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalElements}]]</span>
    </div>

    <div class="text-center m-1" th:unless="${totalElements} > 0">
        <span>No users found</span>
    </div>

    <div th:if="${lastPage > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">
                <li th:class="${currPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(1, 'First')"></a>
                </li>
                <li th:class="${currPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${currPage - 1}, 'Previous')"></a>
                </li>

                <li th:class="${currPage != i ? 'page-item' : 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, lastPage)}">
                    <a th:replace="fragments :: page_link(${i}, ${i})"></a>
                </li>

                <li th:class="${currPage < lastPage ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${currPage + 1}, 'Next')"></a>
                </li>
                <li th:class="${currPage < lastPage ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${lastPage}, 'Last')"></a>
                </li>
            </ul>
        </nav>
    </div>

    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div th:replace="fragments :: footer"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">

    moduleUrl = "[[@{/users}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'user');
        });
    });





</script>
</body>
</html>